<?php $_id = $this->getRequest()->getParam('id') ?>

<?php $_url = $this->getUrl('helloworld/index/index')  ?>

<?php $_model = $this->preModel($_id) ?>
<ul>
    <li><h1><?php echo $_model->getName(); ?></h1></li>
    <li><h2>Address:</h2></li>
        <ul>
            <li><h3><?php echo $_model->getCountry() ?></h3></li>
            <li><h3><?php echo $_model->getAddress() ?></h3></li>
        </ul>
    <li><a href="<?php echo $_url ?>"><-Back</a></li>
</ul>

