<?php $_collection = $this->preCollection(); ?>

<ul>
<?php foreach ($_collection as $data): ?>
    <?php $url = $this->getUrl('helloworld/storeview/fullview', array('id' => $data->getId() )) ?>
    <li><h3><a href="<?php echo $url ?>"><?php echo $data->getName(); ?></a></h3></li>
<?php endforeach; ?>
</ul>