<?php $_model = $this->preModel($this->getRequest()->getParam('id')) ?>
<?php $_url = $this->getUrl('storelocator/storeview/index')  ?>
<h2><?php echo $_model->getShopname() ?></h2>
<h3>Address:</h3>
<h4><?php echo $_model->getCountry()?></h4>
<h4><?php echo $_model->getCity()?></h4>
<h4><?php echo $_model->getAddress()?></h4>
<a href="<?php echo $_url?>"><--Back</a>

