<?php $_collection = $this->preCollection(); ?>

<div class="shop-list">
<ul>
    <?php foreach ($_collection as $data): ?>
    <?php if($data->getIsAvailable() == 1): ?>
        <?php $url = $this->getUrl('storelocator/storeview/fullview', array('id' => $data->getId() )) ?>
        <li><h3><a href="<?php echo $url ?>"><?php echo $data->getShopname(); ?></a></h3></li>
    <?php endif; ?>
    <?php endforeach; ?>
</ul>
</div>
<?php if($this->isGoogleMapIsEnable()): ?>
<div name="blue-block" style="background-color: #0fa7ff; width: 300px; height: 300px; "></div>
<?php endif; ?>